{{#if data}}
<table class="table table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th>UserID</th>
            <th>WatchID</th>
            <th>Comment</th>
            <th class="text-end">Last modified</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td><strong>{{this.id}}</strong></td>
            <td>{{this.userID}}</td>
            <td>{{this.watchID}}</td>
            <td>{{this.comment}}</td>
            <td class="text-end"><i>{{this.updatedAt}}</i></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>There are currently no messages!</p>
{{/if}}