{{#if user}}
<div class="card main-card">
    {{#if data.picturePath}}
    <img src="/watchuploads/{{data.picturePath}}" class="card-img-top watch-photo-main"
        alt="picture of a {{data.color}} {{data.year}} {{data.brand}} {{data.model}} watch">
    {{else}}
    <img src="/watchuploads/genericwatch.png" name="currentPicture" class="card-img-top watch-photo-main"
        alt="generic placeholder picture of a watch">
    {{/if}}
    <div class="card-body">
        <h5 class="card-title text-end">{{data.year}} {{data.brand}} - {{data.model}}</h5>
        <p class="card-text">
            <strong>Color: </strong>
            <strong style="color:{{data.color}}; text-shadow: 0 0 2px black;text-transform:uppercase;">
                {{data.color}}
            </strong>
            <hr>
            {{data.description}}<br>
            <hr>
            <strong>Price: </strong>${{data.price}}
        </p>
    </div>
</div>
{{#unless user.admin}}
<div class="main-card p-4">
    <form method="post" action="/messages/ask">
        <div class="form-group">
            <label for="comment">Interested in this watch? Send us a message!</label><br>
            <textarea name="comment" class="form-control" rows="4" required></textarea>
        </div>
        <br>
        <input type="hidden" name="userID" value="{{user.id}}">
        <input type="hidden" name="watchID" value="{{data.id}}">
        <input type="submit" value="Inquire" class="btn btn-dark">
    </form>
</div>
{{/unless}}
<div class="text-center">
    <br>
    <a class="btn btn-dark" href="javascript:history.back()">Go Back</a>
</div>
{{else}}
<div class="text-center">
    <br>
	<a class="btn btn-dark" href="/signin"><i class="fa-solid fa-right-to-bracket"></i> Sign In</a>
</div>
{{/if}}